@import "functions.scss";

.show-block {
    position: relative;
    width: 100%;
}

.first-block {
    background: transparent url('../../image/home_back_1.jpeg') left top no-repeat;

    .name {
        position: absolute;
        margin: 0 auto;
        color: #333333;
        @include border-radius(50%);
        border: 3px #333333 solid;
        text-align: center;

        p {
            font-size: 25px;
            height: 15%;
            line-height: 125%;
            font-weight: 700;

            &:first-child {
                margin-top: 25%;
            }
        }
    }
}
