@import "animate.scss";

.third-block {
    background: transparent url('../../image/home_back_2.jpg') left top no-repeat;

    .left-mask {
        width: 70%;
        height: 150%;
        background-color: rgba(255, 255, 255,0.4);
        @include rotate(18deg);
        position: absolute;
        right: -21%;
        top: -25%;
    }

    .title {
        color: #a6a6a6;
        position: absolute;
        top: 8%;
        left: 15%;
        font-size: 30px;
        animation: titleCome 1s;
        -moz-animation: titleCome 1s;
        -webkit-animation: titleCome 1s;
        -o-animation: titleCome 1s;
    }

    .reason {
        position: absolute;
        color: #333333;
        font-size: 35px;

        .icon {
            height: 48px;
            margin-right: 4%;
            animation: iconCome 0.8s;
            -moz-animation: iconCome 0.8s;
            -webkit-animation: iconCome 0.8s;
            -o-animation: iconCome 0.8s;
        }

        .answer {
            position: absolute;
            top: 0;
            left: 22%;
            font-weight: 600;
            animation: answerCome 0.8s;
            -moz-animation: answerCome 0.8s;
            -webkit-animation: answerCome 0.8s;
            -o-animation: answerCome 0.8s;
        }

        .detail {
            position: absolute;
            top: 67px;
            left: 24%;
            color: #2d323c;
            font-size: 20px;
            animation: detailCome 1.5s;
            -moz-animation: detailCome 1.5s;
            -webkit-animation: detailCome 1.5s;
            -o-animation: detailCome 1.5s;
        }
    }

    .rigorous {
        top: 25%;
        left: 46%;
        width: 50%;
    }

    .efficiency {
        top: 46%;
        left: 40%;
        width: 55%;
    }

    .safety {
        top: 69%;
        left: 35%;
        width: 59%;
    }
}
@keyframes titleCome {
    from {
        left: -15%;
    }

    to {
        left: 15%;
    }
}
@-moz-keyframes titleCome {
    from {
        left: -15%;
    }

    to {
        left: 15%;
    }
}
@-webkit-keyframes titleCome {
    from {
        left: -15%;
    }

    to {
        left: 15%;
    }
}
@-o-keyframes titleCome {
    from {
        left: -15%;
    }

    to {
        left: 15%;
    }
}
@keyframes iconCome {
    from {
        opacity: 0.1;
        @include rotate(-60deg);
    }

    to {
        opacity: 1;
        @include rotate(0);
    }
}
@-moz-keyframes iconCome {
    from {
        opacity: 0.1;
        @include rotate(-60deg);
    }

    to {
        opacity: 1;
        @include rotate(0);
    }
}
@-webkit-keyframes iconCome {
    from {
        opacity: 0.1;
        @include rotate(-60deg);
    }

    to {
        opacity: 1;
        @include rotate(0);
    }
}
@-o-keyframes iconCome {
    from {
        opacity: 0.1;
        @include rotate(-60deg);
    }

    to {
        opacity: 1;
        @include rotate(0);
    }
}
@keyframes answerCome {
    from {
        left: 110%;
    }

    to {
        left: 22%;
    }
}
@-moz-keyframes answerCome {
    from {
        left: 110%;
    }

    to {
        left: 22%;
    }
}
@-webkit-keyframes answerCome {
    from {
        left: 110%;
    }

    to {
        left: 22%;
    }
}
@-o-keyframes answerCome {
    from {
        left: 110%;
    }

    to {
        left: 22%;
    }
}
@keyframes detailCome {
    0% {
        opacity: 0;
    }

    45% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
@-moz-keyframes detailCome {
    0% {
        opacity: 0;
    }

    45% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
@-webkit-keyframes detailCome {
    0% {
        opacity: 0;
    }

    45% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
@-o-keyframes detailCome {
    0% {
        opacity: 0;
    }

    45% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
